body {
    background: url(https://wallpapers.com/images/featured/avfu043y2kv52wha.jpg);
}

h1 {
    font-family: impact;
    text-shadow: 2px 2px rgb(21, 220, 220, 1);
    color: rgb(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    margin: 10rem;
    font-size: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 2rem;
    border: solid rgba(21,220,220,1)
}

button {
    border-radius: 10px;
    border: solid rgba(21,220,220,1);
    color: rgba(255,255,255,1);
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-family: Gill Sans;
    background-color: black;
    padding: 0.25rem;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: transparent;
}

#demo {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 2rem;
    color: rgba(255,255,255,1);
    border-radius: 10px;
    border: solid rgba(21,220,220,1);
    margin: 3rem;
}