body {
    background: linear-gradient(to left, rgba(159,166,240,0.85), rgba(255,166,240,0.85));
    font-family: sans-serif;
}

.br-tag {
    display: flex;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
}

.a-tag-example {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.a-tag-example:hover {
    cursor: pointer;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
/* if we want to make padding behind the img we can put the img inside a div tag? */
}

.select-example {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.sports {
    display: flex;
    justify-content: center;
}

select {
    margin-left: 0.5rem;
    border-radius: 5px;
}

ol {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 2rem;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 2rem;
}

.div-example {
    display: flex;
/* if i dont use flex-direction and column than it would look very differant. */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}